
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/app/config/secrets/prod/prod.decrypt.private.php
/app/public/bundles/
.idea/
app/var/
app/vendor/
mysql/
###< symfony/framework-bundle ###
